.more-dates {
  $self: &;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding: 20px 22px;
  background: $light_grey;

  &__date-bars {
    display: flex;
    max-width: calc(100vw - 417px);
    overflow-x: scroll;
  }

  &__control-icon {
    display: flex;
    align-items: center;
  }

  &__header {
    position: relative;
    background: $light_text;
    display: flex;
    align-items: center;
    padding: 10px 22px;

    &__title {
      flex: 1;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 1px;
    }

    &__btn-container {
      flex: 1;
      text-align: right;
    }

    //Bottom Arrow
    &:after {
      top: 100%;
      left: 50%;
      border: solid rgba(0, 0, 0, 0);
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #ffff;
      border-width: 15px;
      margin-left: -15px;
    }
  }
  span {
    margin: 10px 0;
    font-weight: 800;
    font-size: 12px;
  }

  &__day {
    border: 1.5px solid $dark_grey;
    border-radius: 3px;
    background: white;
    margin: 0 10px;
    text-align: center;
    height: 80px;
    width: 50px;
    display: inline-block;

    &--selected {
      border: 1.5px solid $pink;

      //TODO
      #{ $self }__price-indicator__bar {
        background: $pink;
      }

      //TODO
      span {
        color: $pink;
      }
    }

    &--no-flight {
      background: $light_grey;

      #{ $self }__price-indicator__bar__close-img {
        transform: translateY(15px);
      }
    }

  }

  &__price-indicator {
    position: relative;
    width: 50px;
    height: 60px;
    padding: 0;
    overflow: hidden;

    &__bar {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $dark_grey;
      transform: translateY(100%);
      transition: all 0.2s;
    }
  }
}
