//Booking price box
.price-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid $light_grey;

  .price-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    &:nth-child(3) {
      background: $light_grey;
    }

    &--list-container {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
}
