.button {
  cursor: pointer;
  border-radius: 3px;

  &--primary {
    background-color: $pink;
    color: $light_text;

    &:hover {
      background-color: #d74da5;
    }
  }

  &--dark {
    background-color: $dark_blue;
    color: $light_text;
  }

  &--secondory {

  }

  &--link{
    color: $pink;
    text-decoration: underline;
  }

  &--price {
    border: 2px solid $pink;
    border-radius: 3px;
  }

  &--medium {
    min-width: 150px;
    padding: 15px 20px;
    font-size: 14px;
  }
}