.button {
  cursor: pointer;
  border-radius: 3px;
  outline: none;

  &--primary {
    background-color: $pink;
    color: $light_text;

    &:hover {
      background-color: #d74da5;
    }
  }

  &--secondary {
    border: 2px solid $pink;
    color: $pink;
  }

  &--dark {
    background-color: $dark_blue;
    color: $light_text;
  }

  &--link {
    color: $pink;
    text-decoration: underline;
    border: 0;
  }

  &--medium {
    min-width: 150px;
    padding: 15px 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
  }

  &--full-width {
    width: 100%;
  }

  &--price {
    background: transparent;
    border: 2px solid $pink;
    border-radius: 3px;
    font-weight: 700;
    font-size: 20px;

    &--active {
      color: $pink;
    }
  }
}