.more-dates {

  display: flex;
  flex-direction: row;

  padding: 20px 0;
  background: $light_grey;

  &__header {
    position: relative;
    background: $light_text;

    //Bottom Arrow
    &:after {
      top: 100%;
      left: 50%;
      border: solid rgba(0, 0, 0, 0);
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #ffff;
      border-width: 15px;
      margin-left: -15px;
    }
  }
  span {
    margin: 10px 0;
    font-weight: 800;
    font-size: 12px;
  }

  &__day {
    border: 1.5px solid $dark_grey;
    border-radius: 3px;
    margin: 0 10px;
    text-align: center;
    height: 80px;
    width: 50px;

    &--selected {
      border: 1.5px solid $pink;

      //TODO
      .more-dates__price-indicator__bar {
        background: $pink;
      }

      //TODO
      span {
        color: $pink;
      }
    }
  }

  &__price-indicator {
    position: relative;
    width: 50px;
    height: 60px;
    padding: 0;
    overflow: hidden;

    &__bar {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $dark_grey;
      transform: translateY(100%);
      transition: all 0.2s;
    }
  }
}
