.header {
  background: $dark_blue;
  color: $light_text;
  height: 60px;
  display: flex;
  align-items: center;

  &__title {
    display: inline-block;
  }

  &__logo {
    margin: 0 25px;
  }

  &__flight-route {

  }
}

.flight-route {
  margin-left: 140px;

  &__title {
    font-size: 12px;
    display: block;
    text-transform: uppercase;
  }

  &__origin-full {
    font-size: 20px;
    font-weight: 800;
  }

  &__origin-short {
    font-size: 16px;
    color: $light_blue;
  }

  &__icon {
    margin: -15px 10px 0 10px;
  }

  &--flight-passengers {
    &__icon-person {
      margin: -8px 10px 0 10px;;
    }
    &__icon-child {
      margin: -4px 10px 0 10px;
    }
  }
}