.icon {
  display: inline-block;
  vertical-align: middle;
  background: none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;

  &__airplane {
    height: 50px;
    width: 50px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='38' height='38' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cuse xlink:href='%23a' transform='translate(8.69)' fill='%231111B7'/%3E%3Cuse xlink:href='%23b' transform='translate(8.69 21.2)' fill='%231111B7'/%3E%3Cuse xlink:href='%23c' transform='translate(.13 11.77)' fill='%231111B7'/%3E%3Cuse xlink:href='%23d' transform='translate(.13 19.5)' fill='%231111B7'/%3E%3Cuse xlink:href='%23e' transform='translate(2.06 19.94)' fill='%230C0C96'/%3E%3Cuse xlink:href='%23f' transform='translate(0 16.36)' fill='%234141E5'/%3E%3Cuse xlink:href='%23g' transform='translate(0 16.36)' fill='%238484F4'/%3E%3Cuse xlink:href='%23h' transform='translate(16.81 10.07)' fill='%230A0A7A'/%3E%3Cuse xlink:href='%23i' transform='translate(16.81 25.17)' fill='%230A0A7A'/%3E%3Cuse xlink:href='%23j' transform='translate(15.78 21.71)' fill='%230C0C96'/%3E%3Cdefs%3E%3Cpath id='a' d='M17.068 16.798S4.444 2.077 3.414 1.008C2.383-.063 0 0 0 0l7.02 15.54v1.07l10.048.188z'/%3E%3Cpath id='b' d='M17.068 0S4.444 14.721 3.414 15.79C2.383 16.86 0 16.798 0 16.798l7.02-15.54V.188L17.068 0z'/%3E%3Cpath id='c' d='M7.15 5.662L1.802 0H0l2.705 6.543 4.444-.881z'/%3E%3Cpath id='d' d='M7.15.818L1.802 6.543H0L2.705 0 7.15.818z'/%3E%3Cpath id='e' d='M0 1.321L.58 0l4.122.944-.709.692L0 1.32z'/%3E%3Cpath id='f' d='M0 2.642C0 1.195 10.176 0 11.336 0h20.223C32.72 0 38 1.195 38 2.642c0 1.447-5.281 2.643-6.44 2.643H11.335C10.176 5.347 0 4.152 0 2.642z'/%3E%3Cpath id='g' d='M0 2.642C0 1.195 10.176 0 11.336 0h20.223C32.72 0 38 1.195 38 2.642c-6.698-1.447-31.173-1.195-38 0z'/%3E%3Cpath id='h' d='M0 1.636v-.44C0 .691.45.376 1.16.251L2.64 0h2.255c.515 0 .966.44.966.944v.943c0 .504-.45.944-.966.944h-2.19l-1.481-.315C.708 2.391 0 2.14 0 1.636z'/%3E%3Cpath id='i' d='M0 1.195v.44c0 .504.45.819 1.16.944l1.48.252h2.255c.515 0 .966-.44.966-.944V.944C5.861.44 5.411 0 4.895 0h-2.19L1.224.315C.708.503 0 .692 0 1.195z'/%3E%3Cpath id='j' d='M0 .755V0h9.532l-.644.755H0z'/%3E%3C/defs%3E%3C/svg%3E");
  }

  &__sold-out {
    height: 75px;
    width: 75px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='78' height='78' viewBox='0 0 78 78' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ELayer_1_copy%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M38.677.803c21.263 0 38.5 17.237 38.5 38.5s-17.237 38.5-38.5 38.5-38.5-17.237-38.5-38.5 17.237-38.5 38.5-38.5z' fill='%23FFF'/%3E%3Cpath d='M49.069 36.718S34.043 18.819 32.846 17.502c-1.197-1.317-4.07-1.257-4.07-1.257l8.381 18.917v1.317l11.912.239zM49.069 42.083S34.043 59.982 32.846 61.299c-1.197 1.317-4.07 1.257-4.07 1.257l8.381-18.917v-1.317l11.912-.239zM27.04 37.556l-6.345-6.944h-2.096l3.173 7.962 5.268-1.018zM27.04 41.028l-6.345 6.944h-2.096l3.173-7.962 5.268 1.018z' fill='%23CECECE'/%3E%3Cpath d='M20.896 42.214l.646-1.635 4.899 1.117-.798.868-4.747-.35z' fill='%23B5B5B5'/%3E%3Cpath d='M18.419 39.471c0-1.778 12.119-3.232 13.469-3.232h24.005c1.35 0 7.662 1.455 7.662 3.232 0 1.777-6.312 3.232-7.662 3.232H31.888c-1.349.001-13.469-1.454-13.469-3.232' fill='%23DBDBDB'/%3E%3Cpath d='M18.419 39.471c0-1.778 12.119-3.232 13.469-3.232h24.005c1.35 0 7.662 1.455 7.662 3.232-7.961-1.795-36.994-1.496-45.136 0' fill='%23EFEFEF'/%3E%3Cpath d='M38.425 30.582v-.508c0-.612.508-.993 1.38-1.187l1.768-.31h2.702c.612 0 1.113.501 1.113 1.112v1.187c0 .612-.501 1.113-1.113 1.113h-2.604l-1.792-.365c-.668-.146-1.454-.43-1.454-1.042M34.263 24.324v-.408c0-.49.408-.795 1.106-.95l1.417-.249h2.164c.49 0 .892.401.892.891v.951c0 .49-.402.892-.892.892h-2.087l-1.436-.293c-.534-.116-1.164-.344-1.164-.834M38.425 48.428v.508c0 .612.508.993 1.38 1.187l1.768.31h2.702c.612 0 1.113-.501 1.113-1.112v-1.187c0-.612-.501-1.113-1.113-1.113h-2.604l-1.792.365c-.668.145-1.454.429-1.454 1.042M34.263 54.686v.408c0 .49.408.795 1.106.95l1.417.249h2.164c.49 0 .892-.401.892-.891v-.951a.895.895 0 0 0-.892-.892h-2.087l-1.436.293c-.534.116-1.164.343-1.164.834M37.155 43.637v-.927h11.36l-.781.927H37.155z' fill='%23B5B5B5'/%3E%3Cpath d='M18.652 65.278l-4.95-4.95 47-47 4.95 4.95-47 47z' fill='%23FFF'/%3E%3Cpath d='M74.177 39.303c0 19.606-15.894 35.5-35.5 35.5s-35.5-15.894-35.5-35.5 15.894-35.5 35.5-35.5 35.5 15.894 35.5 35.5zm-35.5-32.486c-17.941 0-32.486 14.544-32.486 32.486 0 17.942 14.545 32.486 32.486 32.486 17.942 0 32.486-14.544 32.486-32.486 0-17.942-14.544-32.486-32.486-32.486z' fill='%23DBDBDB'/%3E%3Cpath d='M17.238 63.864l-2.121-2.121 47-47 2.121 2.121-47 47z' fill='%23DBDBDB'/%3E%3C/g%3E%3C/svg%3E");
  }

  &__toright-arrow {
    width: 32px;
    height: 11px;
    vertical-align: middle;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='33' height='12' viewBox='0 0 33 12' xmlns='http://www.w3.org/2000/svg' fill='%2306038d'%3E%3Cpath d='M32.403 5.709l.005-.008-2.84-4.944a.568.568 0 0 0-.77-.195.548.548 0 0 0-.198.757l2.34 4.11H1.063a.557.557 0 0 0-.562.553c0 .306.252.553.562.553h29.879l-2.343 4.138a.549.549 0 0 0 .199.757.567.567 0 0 0 .77-.196l2.841-4.971a.544.544 0 0 0-.006-.554z' fill-rule='evenodd'/%3E%3C/svg%3E");

    &--small-blue {
      width: 20px;
      margin: 10px;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='33' height='12' viewBox='0 0 33 12' xmlns='http://www.w3.org/2000/svg' fill='%23d3d3d3'%3E%3Cpath d='M32.403 5.709l.005-.008-2.84-4.944a.568.568 0 0 0-.77-.195.548.548 0 0 0-.198.757l2.34 4.11H1.063a.557.557 0 0 0-.562.553c0 .306.252.553.562.553h29.879l-2.343 4.138a.549.549 0 0 0 .199.757.567.567 0 0 0 .77-.196l2.841-4.971a.544.544 0 0 0-.006-.554z' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  &__return-arrow {
    width: 29px;
    height: 21px;
    background-image: url('../svgs/arrow.svg');
  }

  &__left-arrow {
    width: 10px;
    height: 18px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='19' viewBox='0 0 11 19' xmlns='http://www.w3.org/2000/svg' fill='%23c6007e'%3E%3Cpath d='M.499 9.514l8.777 8.983 1.218-1.247L2.92 9.499l7.576-7.753L9.277.499.5 9.483l.014.015-.015.016z' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__right-arrow {
    width: 10px;
    height: 18px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='19' viewBox='0 0 11 19' xmlns='http://www.w3.org/2000/svg' fill='%23c6007e'%3E%3Cpath d='M10.496 9.482L1.719.499.501 1.746l7.574 7.751L.499 17.25l1.219 1.247 8.777-8.984-.014-.015.015-.016z' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  &__person {
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='34' viewBox='0 0 30 34' xmlns='http://www.w3.org/2000/svg' fill='%236461ed'%3E%3Ctitle%3Eunknown%3C/title%3E%3Cpath d='M18.797 18.237v-1c1.37-.873 2.365-2.247 3.112-3.745h.497c.87 0 1.493-.75 1.493-1.748 0-.75-.497-1.373-1.12-1.623 1.618-4.62-1.12-8.74-4.232-8.614-.498-.75-.125-.5-.872-1.5C8.963-.24 5.602 5.877 6.598 10.372c-.623.126-1.12.75-1.12 1.624 0 .874.622 1.748 1.493 1.748h.623c.747 1.623 1.992 2.996 3.486 3.995v.75C4.605 19.61 0 24.23 0 31.096c7.47 3.87 24.523 3.87 30 0 0-6.992-4.855-11.487-11.203-12.86z' fill-rule='evenodd'/%3E%3C/svg%3E");

    &--child {
      width: 15px;
      height: 15px;
    }
  }
}
