@import "variables";
//Components
@import "components/header";
@import "components/discount-club-promo";
@import "components/booking-flight";
@import "components/search-flight";
@import "components/flight-info";
@import "components/date-chart";
@import "components/sold-out";
@import "components/price-box";
@import "components/return-flight-select";
@import "components/loading";
//Elements
@import "elements/buttons";
@import "elements/card";
@import "elements/icons";
@import "elements/datepicker";
//https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $dark_text;
  //background: #f0f0f0;
  background: #f0f0f0 url('../svgs/bg.svg') no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.booking-container {
  display: flex;
  width: 100%;
}
