@import "variables";
@import "header";
@import "card";
@import "buttons";
@import "inputs";
@import "datepicker";
@import "icons";
@import "booking-flight";
@import "flight-info";
@import "date-chart";
@import "sold-out";
@import "discount-club-promo";
//https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $dark_text;
  //background: #f0f0f0;
  background: #f0f0f0 url('../svgs/bg.svg') no-repeat;
  background-size: cover;
}

.booking-container {
  display: flex;
  width: 100%;
}

//TODO
.search-flight .card {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;

}

//
//.left-panel {
//  width: 200px;
//}
//
//.booking-flight {
//  flex: 1;
//}

.left-panel {
  flex: 0 0 277px;
  margin: 70px 14px 0 28px;
}

.booking-flight {
  flex: 1;
  margin: 0 28px 0 14px;
}

//Booking price box
.price-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid $light_grey;

  .price-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    &:nth-child(3) {
      background: $light_grey;
    }

    &--list-container {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
}

//Left Panel
.booking-flow__title {
  display: inline-block;
  text-transform: capitalize;
}

.booking-flow__price {
  float: right;
  color: $dark_blue;
}
