@import "variables";
@import "header";
@import "card";
@import "buttons";
@import "inputs";
@import "datepicker";
@import "icons";
//https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $dark_text;
  //background: #f0f0f0;
  background: #f0f0f0 url('../svgs/bg.svg') no-repeat;
  background-size: cover;
}

.booking-container {
  display: flex;
  width: 100%;
}

//TODO
.search-flight .card {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;

}

//
//.left-panel {
//  width: 200px;
//}
//
//.booking-flight {
//  flex: 1;
//}

.left-panel {
  flex: 0 0 277px;
  margin: 0 14px 0 28px;
}

.booking-flight {
  flex: 1;
  margin: 0 28px 0 14px;
}

.price-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid $light_grey;

  .price-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    &:nth-child(3) {
      background: $light_grey;
    }
  }
}

.booking-flight__heading {
  color: $dark_blue;
  display: inline-block;
  margin: 20px;
  padding: 0;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 50px;
  vertical-align: middle;
}

.booking-flight__station{
  color: $dark_blue;
  font-size: 22px;
  font-weight: 800;
  font-style: normal; //TODO <address>
}


.booking-flow__title {
  display: inline-block;
  text-transform: capitalize;
}

.booking-flow__price {
  float: right;
  color: $dark_blue;
}

//Plane
//url("data:image/svg+xml;charset=utf-8,%3Csvg width='38' height='38' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cuse xlink:href='%23a' transform='translate(8.69)' fill='%231111B7'/%3E%3Cuse xlink:href='%23b' transform='translate(8.69 21.2)' fill='%231111B7'/%3E%3Cuse xlink:href='%23c' transform='translate(.13 11.77)' fill='%231111B7'/%3E%3Cuse xlink:href='%23d' transform='translate(.13 19.5)' fill='%231111B7'/%3E%3Cuse xlink:href='%23e' transform='translate(2.06 19.94)' fill='%230C0C96'/%3E%3Cuse xlink:href='%23f' transform='translate(0 16.36)' fill='%234141E5'/%3E%3Cuse xlink:href='%23g' transform='translate(0 16.36)' fill='%238484F4'/%3E%3Cuse xlink:href='%23h' transform='translate(16.81 10.07)' fill='%230A0A7A'/%3E%3Cuse xlink:href='%23i' transform='translate(16.81 25.17)' fill='%230A0A7A'/%3E%3Cuse xlink:href='%23j' transform='translate(15.78 21.71)' fill='%230C0C96'/%3E%3Cdefs%3E%3Cpath id='a' d='M17.068 16.798S4.444 2.077 3.414 1.008C2.383-.063 0 0 0 0l7.02 15.54v1.07l10.048.188z'/%3E%3Cpath id='b' d='M17.068 0S4.444 14.721 3.414 15.79C2.383 16.86 0 16.798 0 16.798l7.02-15.54V.188L17.068 0z'/%3E%3Cpath id='c' d='M7.15 5.662L1.802 0H0l2.705 6.543 4.444-.881z'/%3E%3Cpath id='d' d='M7.15.818L1.802 6.543H0L2.705 0 7.15.818z'/%3E%3Cpath id='e' d='M0 1.321L.58 0l4.122.944-.709.692L0 1.32z'/%3E%3Cpath id='f' d='M0 2.642C0 1.195 10.176 0 11.336 0h20.223C32.72 0 38 1.195 38 2.642c0 1.447-5.281 2.643-6.44 2.643H11.335C10.176 5.347 0 4.152 0 2.642z'/%3E%3Cpath id='g' d='M0 2.642C0 1.195 10.176 0 11.336 0h20.223C32.72 0 38 1.195 38 2.642c-6.698-1.447-31.173-1.195-38 0z'/%3E%3Cpath id='h' d='M0 1.636v-.44C0 .691.45.376 1.16.251L2.64 0h2.255c.515 0 .966.44.966.944v.943c0 .504-.45.944-.966.944h-2.19l-1.481-.315C.708 2.391 0 2.14 0 1.636z'/%3E%3Cpath id='i' d='M0 1.195v.44c0 .504.45.819 1.16.944l1.48.252h2.255c.515 0 .966-.44.966-.944V.944C5.861.44 5.411 0 4.895 0h-2.19L1.224.315C.708.503 0 .692 0 1.195z'/%3E%3Cpath id='j' d='M0 .755V0h9.532l-.644.755H0z'/%3E%3C/defs%3E%3C/svg%3E")

//big arrow
//url("data:image/svg+xml;charset=utf-8,%3Csvg width='33' height='12' viewBox='0 0 33 12' xmlns='http://www.w3.org/2000/svg' fill='%2306038d'%3E%3Cpath d='M32.403 5.709l.005-.008-2.84-4.944a.568.568 0 0 0-.77-.195.548.548 0 0 0-.198.757l2.34 4.11H1.063a.557.557 0 0 0-.562.553c0 .306.252.553.562.553h29.879l-2.343 4.138a.549.549 0 0 0 .199.757.567.567 0 0 0 .77-.196l2.841-4.971a.544.544 0 0 0-.006-.554z' fill-rule='evenodd'/%3E%3C/svg%3E")

//right arrow
//url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='19' viewBox='0 0 11 19' xmlns='http://www.w3.org/2000/svg' fill='%23c6007e'%3E%3Cpath d='M10.496 9.482L1.719.499.501 1.746l7.574 7.751L.499 17.25l1.219 1.247 8.777-8.984-.014-.015.015-.016z' fill-rule='evenodd'/%3E%3C/svg%3E")

//left arrow
//url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='19' viewBox='0 0 11 19' xmlns='http://www.w3.org/2000/svg' fill='%23c6007e'%3E%3Cpath d='M.499 9.514l8.777 8.983 1.218-1.247L2.92 9.499l7.576-7.753L9.277.499.5 9.483l.014.015-.015.016z' fill-rule='evenodd'/%3E%3C/svg%3E")

//bottom arrow
//url("data:image/svg+xml;charset=utf-8,%3Csvg width='1147' height='9' viewBox='0 0 1147 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23C0C0C0' fill-rule='evenodd'%3E%3Cpath d='M565.428 1.282l.704-.73L573.6 7.81l-.705.73-7.467-7.258z'/%3E%3Cpath d='M572.968 8.548l-.75-.68L579.94.516l.75.68-7.722 7.352z'/%3E%3Cpath d='M1004.1 1.5h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.03 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm421.97 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zM720 1.5h-2.03v-1H720v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.027v1zm-4.058 0H580v-1h2.03v1zm-15.927 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-146.03 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.03 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.02v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0H44.74v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0H.1v-1h2.03v1zm421.97 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1z'/%3E%3C/g%3E%3C/svg%3E")